<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
  <div class="jumbotron">
  <h3 class="display-4">Projects</h3>
  <p class="project_title">Fraction Calculator</p>
  <img src="/Assets/images/fraction.png" width="400">
  <p>Created with C#. Allows user to select several options to perform an operation between 2 fractions</p>

  <p class="project_title">President GUI</p>
  <img src="/Assets/images/president.png" width="400">
  <p>In my C# COMP123 class, one of our assignments required us to create a GUI application. Designed a form to display user selected president</p>

  <p class="project_title">OMNI Food Webpage - WIP</p>
  <img src="/Assets/images/omnifood.png" width="400">
  <p>Currently working on a Udemy project in which I am applying the CSS and HTML principles I have learned throughout the course</p>
  <button><a class="buttonClass" href="about">About Me</button>
  </div>
</main>  

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>